*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /*************************************************** RUBEN *************************************************/
  
  /********* estilos compartidos *********/
  
  .display-inliBlock {
    display: inline-block;
  }
  
  .off-color {
    background: rgb(210, 63, 87);
    border-radius: 15px;
    padding: 5px;
    font-size: 10px;
    width: 80px;
    text-align: center;
  }
  
  .centradoMargin {
    margin: 0 auto;
  }
  
  .colorTxt {
    color: rgb(210, 63, 87);
  }
  
  /********* Lista Productos *********/
  
  .sect-tiposProductos {
    width: 80%;
    margin: 0 auto;
  }
  
  .sect-tiposProductos div {
    display: inline-block;
    margin: 25px 10px;
    padding: 15px;
    width: 240px;
    height: 160px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid gray;
    background: white;
  }
  
  .figure-tipoProductos img {
    width: 35px;
    height: 35px;
    margin: 15px 0;
  }
  
  .rightOff {
    margin: 0 120px;
  }
  
  /********* Venta Productos *********/
  
  .article-ventas {
    position: relative;
    width: 240px;
    height: 320px;
    margin: 25px 10px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 15px;
    font-size: 14px;
    background: white;
  }
  
  .article-ventas figure img {
    margin: 45px 30px;
    width: 150px;
    height: 100px;
  }
  
  .article-ventas p {
    display: inline-block;
  }
  
  .Rating{
    width: 100px;
    margin: 10px 0;
    display: block;
  }
  
  .btn-añadirCompra{
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 10px;
    background: white;
  }
  
  .mensaje-sumaProductos{
    margin: 50px 0;
  }
  
  /***************************************************  *************************************************/
  