* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

.background-header{
    background: #0C0E30;
    display: flex;
}
.background-header p{
    color: white;
    padding-left: 10px;
}
.img-size{
    width: 20px;
    border: black;
}
